/*For phones only*/
@media (max-width: 599px) {

    .li_item{
        display: inline;
        margin-right: 15px;
        list-style-type: none;
        font-family: "Andale Mono";
        font-size: small;
    }

    .nav_bar {
        padding: 5px 0 0 0;
    }
}

/*For Tablet portrait up*/
@media (min-width: 600px) {

    .nav_bar {
        padding: 15px 0 0 0;
    }
}

/*For Tablet landscape up*/
@media (min-width: 900px) {
}

/*For-desktop-up*/
@media (min-width: 1200px) {
}

/*For BIG Desktop up*/
@media (min-width: 1800px) {

}

@media all {

}