/*For phones only*/
@media (max-width: 599px) {
    /*Interests flex box styles */
    .flags_flex_container .row{
        flex-wrap: nowrap !important;
        overflow: scroll;
        background: #bdbdbd;
    }

    .flags_flex_container img {
        max-width: 80px;
        max-height: 64px;
    }

    .hide {
        max-height: 0;
    }

    .news-card__image img {
        max-width: 150px !important;
        max-height: 120px !important;
    }

    .news-card__description {
        display: none;
        margin-top: 1%;
    }

    .news-card__description.show {
        display: inline-block;
        font-size: small;
    }

    .news-card {
        margin-bottom: 1% !important;
        margin-top: 1% !important;
        padding-top: 3% !important;
        padding-bottom: 3% !important;
    }

    .news-card__read-more {
        display: block !important;
    }

    .news-card__read-more img {
        max-height: 12px;
        margin-top: 1%;
    }
}

/*For Tablet portrait up*/
@media (min-width: 600px) {
    .flags_flex_container .row{
        flex-wrap: nowrap !important;
        overflow: scroll;
    }

    .news-card__image img {
        max-width: 150px !important;
        max-height: 120px !important;
    }
}

/*For Tablet landscape up*/
@media (min-width: 900px) {
    .flags_flex_container .row{
        flex-wrap: nowrap !important;
        overflow: scroll;
    }

}

/*For-desktop-up*/
@media (min-width: 1200px) {
    .flags_flex_container .row{
        flex-wrap: nowrap !important;
        overflow: auto;
        overflow-y: hidden;
        scroll-behavior: auto !important;
    }

    .news-card__image img {
        max-width: 300px !important;
        max-height: 240px !important;
    }
}

/*For BIG Desktop up*/
@media (min-width: 1800px) {

}

@media all {
    .flags_flex_container .row {
        overflow-y: hidden;
    }

    .news-card__source-name {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #a29a9a;
        font-size: 12px;
    }

    .news-card__source-published-at {
        font-weight: lighter;
        font-style: italic;
        color: #888888;
        font-size: x-small;
        margin-bottom: 1%;
    }

    .news-list__container {
        background-color: #bdbdbd;
    }

    .news-card {
        background: white;
        margin-bottom: 0.5%;
        margin-top: 0.5%;
        padding-top: 1%;
        padding-bottom: 1%;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
        transition: box-shadow 83ms;
        border-radius: 3px;
    }

    .news-card__read-more {
        display: none;
    }
}