/*For phones only*/
@media (max-width: 599px) {
}

/*For Tablet portrait up*/
@media (min-width: 600px) {

}

/*For Tablet landscape up*/
@media (min-width: 900px) {

}

/*For-desktop-up*/
@media (min-width: 1200px) {

}

/*For BIG Desktop up*/
@media (min-width: 1800px) {

}

@media all {
    .progress-container {
        width: 100%;
        height: 8px;
        background: #F0F0F0;
    }

    .progress-bar {
        height: 8px;
        background: linear-gradient(to right, #33ccff 0%, #ffc520 100%);
        width: 0%;
    }
}